*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,helvetica, sans-serif;
}

#logo {
    width: 100%;
    min-height: 50px;
    background-color: gray;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;

    

}

#logo-div {
    width: 50%;
    min-height: 50px;
    float: left;
    line-height: 50px;
    padding-left: 4%;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;

    
}
#nav-div {
    width: 50%;
    min-height: 50px;
    float: right;
    line-height: 50px;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;

}

.clearfix::after {
    content : "";
    display: block;
    clear: both;
}

#header {
    width: 100%;
    min-height: 70px;
    background-color: gray;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;

}

#intro {
    width: 100%;
    min-height: 60px;
    background-color: gray;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;




}

#Mainbox {

    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    
    
    
}

.box {
    width: 30%;
    min-height: 400px;
    background-color:orange;
    float: left;
    text-align: center;
    line-height: 400px;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;

}

#Mainbox .box:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
}

#footer {
    width: 100%;
    min-height: 50px;
    background-color: gray;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: x-large;
    font-weight: 600;

}  


#wrapper-div {
    width: 80%;
    margin: auto;
}

