<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="wrapper-div">
        <div id="header" class="clear-fix">
            <div id="logo">Logo</div>
            <div id="nav">Navigation</div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div id="boxes" class="clear-fix">
            <div class="box">box1</div>
            <div class="box">box1</div>
            <div class="box">box1</div>



        </div>

        <div id="footer">Footer</div>
    </div>


</body>

</html>